.product__hero,
.product__description {
  padding-block: var(--section-padding-block);
}

.product__hero {
  display: flex;
  row-gap: 1.5rem;
  column-gap: 2.4rem;
}

.product__info {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  flex: 1;
  row-gap: 1.4rem;
}

.brand__name {
  font-weight: var(--fw-800);
  font-size: var(--p-fsz-meduim);
  color: var(--dark-color);
  background-color: var(--gray-500-color);
  border-radius: 1rem;
  width: fit-content;
  padding: 0.1rem 0.5rem;
}

.product__name {
  font-size: var(--font-size-base);
  font-size: var(--font-size-x-large);
  color: var(--gray-custom-color);
  line-height: 1.4;
  max-width: var(--heading-width);
  text-wrap: balance;
  font-weight: var(--fw-500);
}

.product__price {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.currency {
  font-size: var(--p-fsz-small);
  font-weight: var(--fw-500);
  color: var(--gray-700-color);
}

.discount__price {
  font-weight: var(--fw-700);
  font-size: var(--p-fsz-large);
}

.original__price {
  font-size: var(--p-fsz-small);
  font-weight: var(--fw-500);
  color: var(--gray-700-color);
  text-decoration: line-through;
}

.saved__percantage {
  font-weight: var(--fw-600);
  font-size: var(--p-fsz-small);
  color: var(--white-color);
  background-color: var(--gray-900-color);
  border-radius: 1rem;
  width: fit-content;
  padding: 0.2rem 0.5rem;
  /* margin-bottom: 1rem; */
}

.stock {
  font-weight: var(--fw-600);
  font-size: var(--p-fsz-small);
  width: fit-content;
  padding: 0.2rem 0.5rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  border-radius: 0.5rem;
}

.instock {
  color: rgb(22 101 52);
  background-color: rgb(220 252 231);
}

.outofstock {
  color: rgb(153 27 27);
  background-color: rgb(254 242 242);
}

.quantity {
  display: flex;
  justify-content: space-between;
  /* gap: 0.1rem; */
  align-items: center;
  width: 120px;
  border: 2px solid var(--gray-500-color);
  height: 2.2rem;
  padding-inline: 0rem;
  border-radius: 0.5rem;
}

.quantity__input {
  /* padding-top: 0.2rem; */
  font-size: 1.5rem;
  font-weight: var(--fw-500);
  padding-top: 0.25rem;
  /* height: 1rem; */
  /* width: fit-content; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

.quantity__add__button,
.quantity__subtract__button {
  all: unset;
  height: 1.8rem;
  width: 1.8rem;
}

.product__description {
  border-top: 2px solid var(--gray-500-color);
  border-bottom: 2px solid var(--gray-500-color);
}

.product__additional__notes__title,
.product__details__title,
.product__description__title {
  font-size: var(--font-size-large);
}

.product__additional__notes__text,
.product__description__text {
  font-size: var(--p-fsz-meduim);
  font-weight: var(--fw-400);
  color: var(--gray-700-color);
  line-height: var(--line-height-1-6);
  text-wrap: balance;
  width: 90%;
  padding-block: var(--p-padding-top);
}

.product__details__list {
  padding-block: var(--p-padding-top);
}

.product__details__list__item {
  /* padding-inline: 0.4rem; */
  padding-block: 0.2rem;
  width: 100%;
  margin-bottom: 0.3rem;
  border-top: 1px solid var(--gray-900-color);
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.product__details__list li:last-child {
  border-bottom: 1px solid var(--gray-900-color);
}

.product__details__list__item .key {
  background-color: var(--gray-400-color);
  padding-inline: 0.4rem;
  /* padding-block: 0.4rem;  */
}

.product__details__list__item .value {
  color: var(--dark-color);
}

@media screen and (min-width: 576px) {
  .product__details__list__item {
    column-gap: 0.5rem;
    flex-direction: row;
  }

  .key,
  .value {
    width: 50%;
  }
}

/* .table th,
td {
  text-align: left;
  padding-inline: 1rem;
  padding-block: 0.4rem;
  margin-bottom: 0.3rem;
  text-wrap: balance;
}

.table td {
  border-top: 1px solid var(--gray-900-color);
}

.table th {
  font-weight: normal;
  background-color: var(--gray-400-color);
  border-top: 1px solid var(--gray-900-color);
} */

/* Media Queries */

@media screen and (max-width: 960px) {
  .product__hero {
    flex-direction: column;
  }
}

@media screen and (min-width: 320px) and (max-width: 390px) {
  .product__price {
    flex-direction: column;
    row-gap: 0.6rem;
    align-items: flex-start;
  }
}
